<div class="container">
  <div class="row row-cols-4">
    <div class="col mt-4" *ngFor='let product of products.results; let i=index;' >
      <div class="card cur-hand product-card" cardHighlight>
        <div [routerLink]="['/product', getProductId(product.url)]">
          <product-image [productDetailUrl]="product.url"></product-image>
          <div class="card-body">
            <p class="card-text">{{product.name | titlecase}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<app-footer [nextUrl]='nextUrl' [previousUrl]='previousUrl' (nextEvent)="getNext($emit)" (previousEvent)="getPrevious($emit)"></app-footer>